{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Current state: <strong>{{ chatRoom.currentState }}</strong>
                </div>
                <div class="panel-body">

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                    <form method="post" action="{{ path('home') }}">
                        {% for transition in transitions %}
                            <button class="btn btn-primary" name="transition" value="{{ transition.name }}">
                                {{ transition.name }}
                            </button>
                        {% endfor %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
